@import "~bootstrap/dist/css/bootstrap.css";
@import "~notie/dist/notie.css";

#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 10040;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
    position: fixed;
}
#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    padding:30px 15px 0px;
    z-index: 10000;
    text-align:center;
    overflow: auto;
}

#loader {
    z-index: 125000;
    width: 125px;
}

a {
    color: rgb(131, 152,199);
}

#app {
    border: 1px solid rgb(36,70, 142);
    height: 100%;
}

#mnemonic-disclaimer {
    margin-top: 50px;
    margin-bottom: 50px;
}
#mnemonic-phrase {
    margin-top: 25px;
    margin-bottom: 25px;
}

a:visited {
    color: rgb(131, 152,199);
}

#header-row {
    margin-left: 10px;
}

#nickname-input {
    margin-top: 10px;
}

input {
    color: white !important;
    background: rgb(24,39,77)!important;
}

input:focus {
    background: rgb(24,39,77)!important;
}

body, html {
    background: rgb(24,39,77);
    color: rgb(131, 152,199);
    font-family: "Open Sans";
    height: 100%;
    padding: 5px;
}

.btn {
    color: white;
    background: rgb(24,39,77);
    border-color: rgb(36,70, 142);
}

.btn:hover:enabled {
    background: rgb(193,82,156);
}

.footer {
    background: rgb(24,39,77);
    height: 80px;
}

#search-box {
    border-right : 1px solid rgb(36,70, 142);
    border-bottom: 1px solid rgb(36,70, 142);
}

.input {
    background: rgb(24,39,77);
    border: 1px solid rgb(36,70, 142);
}

.header {
    height: 80px;
    background: rgb(24,39,77); 
}

.info {
    margin-top: 25px;
}

#login-form {
    margin-top: 150px;
}

.logo {
    text-align: center;
}

.logo-image {
    width: 40%;
}

#login-btn {
    margin-top: 15px;
}

.menu-item > i {
    margin-top: auto;
}

.menu-item {
    background: rgb(24,39,77);
    color: white;
}

.menu-item:hover {
    color: rgba(193,82,156,0.5);
    cursor: pointer;
}

.menu-item.active {
    color: rgb(193,82,156)
}

.menu {
    border-right: 1px solid rgb(36,70, 142);
    padding-top: 10px;
    border-top: 1px solid rgb(36,70, 142);
}

.content {
    height: calc(100vh - 160px - 20px - 2px);
    background: rgb(19,35,72);
}

#user-list{
    background: rgb(24,39,77); 
    overflow: auto; 
    max-height: 100%;
    color: white;
    border-right : 1px solid rgb(36,70, 142);
}

.contact-info {
    padding: 10px;
}

.user-contact:hover {
    background: rgb(22,36,69);
    cursor: pointer;
}

.user-contact {
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-contact.selected {
    border-top: 1px solid rgb(36,70, 142);
    border-bottom: 1px solid rgb(36,70, 142);
    background: rgb(22,36,69);
}

#helper-error {
    color: red
}

.avatar {
    margin: auto;
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 65px;
    margin: auto;
    background: white;
}

.avatar {
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    background: rgb(19,47,100);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 20px;
    word-break: break-word;
}

#chat-box {
    overflow: auto; 
    max-height: 100%;
    padding: 35px;
}

#tool {
    margin-top: 15px;
}

#send-div {
    position: absolute;
    top: 20%;
    width: 800px;
    height: 300px;
    background: rgb(19,47,100);
    left: 30%;
    z-index: 9999;
    padding-top: 25px;
}

#send-button-row {
    margin-top: 50px;
}

#amount-input {
    height: 50px;
    margin-top: 15px;
}

#msg-input {
    height: 2.5em;
}

#tool button {
    height: 2.5em;
}

#currency-select {
    background: rgb(19,47,100);
    color: white;
    border-color: rgb(36,70, 142);
    height: 50px;
    margin-top: 15px;
}

.seed-block {
    margin-top: 25px;
}

#seedphrase-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#seedphrase-login-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#escrow-div {
    position: absolute;
    top: 20%;
    width: 800px;
    height: 300px;
    background: rgb(19,47,100);
    left: 30%;
    z-index: 9999;
    padding-top: 25px;
}