@import "~bootstrap/dist/css/bootstrap.css";

body {
    background: rgb(24,39,77);
    color: rgb(131, 152,199);
    font-family: "Open Sans";
    border: 1px solid rgb(36,70, 142);
    margin: 5px;
}

.btn {
    background: rgb(24,39,77);
}

.footer {
    height: 80px;
    background: rgb(24,39,77);
}

#search-box {
    border-right : 1px solid rgb(36,70, 142);
}

.input {
    background: rgb(24,39,77);
    border: 1px solid rgb(36,70, 142);
}

.header {
    height: 80px;
    background: rgb(24,39,77); 
}

.info {
    margin-top: 25px;
}

#login-form {
    margin-top: 150px;
}

.logo {
    text-align: center;
}

.logo-image {
    width: 40%;
}

#login-btn {
    margin-top: 15px;
}

.menu-item > i {
    margin-top: 15px;
}

.menu-item {
    background: rgb(24,39,77);
    color: white;
}

.menu-item:hover {
    color: rgb(193,82,156);
    cursor: pointer;
}

#root {
    height: 100%;
}

.content {
    height: calc(100vh - 160px - 10px - 2px);
    background: rgb(19,35,72);
}

#user-list{
    background: rgb(24,39,77); 
    overflow: auto; 
    max-height: 100%;
    color: white;
    border-right : 1px solid rgb(36,70, 142);
}

.contact-info {
    padding: 10px;
}

.user-contact:hover {
    background: rgb(22,36,69);
    cursor: pointer;
}

.user-contact {
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-contact.selected {
    border-top: 1px solid rgb(36,70, 142);
    border-bottom: 1px solid rgb(36,70, 142);
    background: rgb(22,36,69);
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 65px;
    margin: auto;
    background: white;
}

.avatar {
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    background: rgb(19,47,100);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 20px;
    word-break: break-word;
}

#chat-box {
    overflow: auto; 
    max-height: 100%;
    padding: 35px;
}

#tool {
    margin-top: 15px;
}

#send-div {
    position: absolute;
    top: 20%;
    width: 800px;
    height: 300px;
    background: rgb(19,47,100);
    left: 30%;
    z-index: 9999;
    padding-top: 25px;
}

#send-button-row {
    margin-top: 50px;
}

#amount-input {
    height: 50px;
    margin-top: 15px;
}

#msg-input {
    height: 2.5em;
}

#tool button {
    height: 2.5em;
}

#transfer {
    background-image: url('../img//eos-seeklogo.com.svg')
}