<input type="text" class="form-control input" placeholder="Message..." id="msg-input">
<button type="button" id="send-msg"><i class="fa fa-paper-plane"></i></button>
<button type="button" id="transfer"><i class="fa fa-pencil"></i></button>