<input type="text" class="form-control input" placeholder="Message..." id="msg-input">
<div class="input-group-append">
    <button type="button" id="send-msg" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
    <button type="button" id="transfer" class="btn btn-primary"><img src="<%= eos %>" style="width: 5%;"></button>
</div>