<div class="left left--txs col-lg-4">
    <div id="user-list"></div>				
</div>
<div class="right messages col-lg-8" id="chat-box">
    <div class="messages__welcome row h-100">
        <div class="col-lg-12 d-flex justify-content-center align-items-center h-100">
            <p>Please select a chat to start messaging</p>
        </div>
    </div>			
</div>

