    <button class="profile__back d-none">
        <i class="fa fa-chevron-left"></i>
    </button>
    <div class="profile__box">
        <img class="profile__photo" src=<%= "data:image/png;base64," + avatar %> alt="user-avatar">
    </div>
    <div class="profile__info">
        <p class="profile__name"><%= nickname %></p>
        <p class="profile__balance">Balance: <%= balance %></p>
    </div>