<div class="txs__left">
    <div class="txs__circle">
        <% if (from === user) { %>
            <i class="fa fa-arrow-right"></i>
        <% } else { %> 
            <i class="fa fa-arrow-left"></i>
        <% } %>
    </div>
</div>
<div class="txs__right">
    <p class="txs__from">from <%= from %> to <%= to %></p>
    <p class="txs__eos"><%= quantity %></p>
</div>
