<div class="avatar">
    <img class="avatar-circle" width=40 height=40 src=<%= "data:image/png;base64," + avatar %>>
</div>
<div class="col-md-10 contact-info">
    <div>
        <%= username %>
    </div>
    <% if (new_msg > 0) { %>
        <span class="badge badge-danger"><%= new_msg %></span>
    <% } %>
</div>