<div class="avatar-circle">
</div>
<div class="col-md-10 contact-info">
    <div>
        <%= username %>
    </div>
    <% if (new_msg > 0) { %>
        <span class="badge badge-danger"><%= new_msg %></span>
    <% } %>
</div>